.leaflet-map {
    isolation: isolate;
    z-index: 0;
}

.leaflet-map .leaflet-container {
    height: 100%;
    width: 100%;
    font: inherit;
}

.leaflet-map .leaflet-control-attribution {
    font-size: 10px;
}

.leaflet-map .leaflet-control-zoom a {
    color: var(--foreground);
}
